#bg-img {
  height: 470px;
  margin: auto;
  background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
}

.Button {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 7px 14px 10px 9px;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  width: auto;
  background-color: #1bb76e;
  box-shadow: 0 6px 10px 0 rgb(27 28 30 / 31%);
  color: #fff;
  white-space: nowrap;
}
.NavbarContainer-center {
  max-width: 550px;
  margin: auto;
  align-items: center;
  flex: 1;
  justify-content: space-around;
}
.Searchbar {
  position: relative;
  float: right;
  width: 100%;
  max-width: 550px;
}
.Searchbar-textInput {
  background: hsla(0, 0%, 100%, 0.25);
  border: 1px solid transparent;
  padding: 8px 35px 8px 10px;
  border-radius: 3px;
  width: 100%;
  outline: 0 none;
  opacity: 0.8;
  min-height: 36px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  color: #fff;
  text-shadow: inherit;
  -webkit-text-fill-color: inherit;
}
.Searchbar-submitInput {
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  color: #fff;
  border: 0;
  outline: 0 none;
  padding: 8px;
  cursor: pointer;
}
.NavbarContainer-right {
  min-width: 280px;
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
}
.ProfileNavbar {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.NavbarNotifications {
  display: inline-flex;
  margin: auto 10px;
}
.ProfileNavbar-item {
  position: relative;
  top: 2px;
  display: inline-block;
}
a {
  color: #01b96b;
  text-decoration: none;
}

.EmeraldButton {
  background: #6432f9;
  box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
  padding: 0 10px 0 9px;
  overflow: hidden;
  margin: auto 0;
  line-height: 35px;
}
.ProfileNavbar .Navbar-signin {
  margin: auto 24px auto 24px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  text-shadow: 0 14px 15px rgb(27 28 30 / 31%);
  white-space: nowrap;
  vertical-align: middle;
}

.HomeNavbar .Navbar-signup {
  min-width: 108px;
  padding-top: 9px;
}

.ProfileNavbar .Navbar-signup {
  margin: auto;
}
.ButtonLink {
  cursor: pointer;
  padding: 0px 27px;
}

.home01 div img {
  height: 90px;
  width: 100%;
  border-radius: 4%;
}

.home01 div {
  background-color: #328d67;
  margin: 5%;
  border-radius: 4%;
  color: white;
}

.home01 div p {
  /* height: 60px; */
  padding-top: 8px;
  text-align: center;
  color: white;
}

body {
  background-color: #2e3035;
  color: white;
}

.home02 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 140px;
}

.home02 div {
  background-color: #328d67;
  margin: 3%;
  color: white;
}

.home02 div p {
  height: 60px;
  padding-top: 8px;
  text-align: center;
  color: white;
}

#photos {
  display: grid;
  justify-content: space-around;
  text-align: center;
}

.home04 div p {
  background-color: #328d67;
  height: 60px;
  padding-top: 16px;
  text-align: center;
  color: white;
}

.home04 div img {
  width: 100%;
}
